<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js" type="text/javascript"></script>
    <title>Fabulously - Shop</title>
</head>
<body>


    <div class="flex-container">

            <div id="parallax">
                <nav class="navbar">
                    <span class="navbar-toggle" id="js-navbar-toggle">
                        <i><img class="imgnavbar" src="/img/iconbarwhite.png"></i>
                    </span>
                    <a href="#" class="logo">Fabulously Inc</a>
                    <ul class="main-nav" id="js-menu">
                        <li>
                            <a href="/" class="nav-links">Home</a>
                        </li>
                        <li>
                            <a href="/kits" class="nav-links">Special Dates Kits</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="flex-item eventittle topmargin">
                <p> <span class="underlines">Shop</span></p>

            </div>
            
            <div class="flex-item sidebarevent backcolorOt">
                <img class="imgintro" src="/img/birth3.jpg">
            </div>
            <div class="flex-item sidebarevent backcolorOt">
                <p class="sizetittle"><span class="underlinei">BirthDay Kit</span></p>
                <p class="sizetext">
                    * Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    * Curabitur vestibulum lobortis risus, ut lacinia felis. <br>
                    * Tristique a. Aenean volutpat blandit sapien. Vestibulum. <br>
                    * Elementum mauris quam, sit amet volutpat arcu lobortis. <br>
                    * Sit amet. Suspendisse potenti. Mauris porta sem commodo.<br>
                    * Dui suscipit, id commodo nulla tempus. Phasellus erat. <br>
                    * Risus, ornare sit amet tempus in, aliquet a ligula.
                </p>

                <form action="payment" method="POST">
                    <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="YOUR PUBLIC KEY HERE"
                          data-allow-remember-me="true"
                          data-billing-address="true"
                          data-shipping-address="true"
                          data-name="Fabulously Inc"
                          data-description="1 BirthDay Kit ($67.77)"
                          data-amount="6777"
                          data-image="img/intro2.jpg"
                          data-label="Buy this Product!"
                          data-panel-label="Purchase"
                          >
                      </script>
                      <script>
                      // Hide default stripe button.
                      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                  </script>
                  
                <div class="sectionbtn">
                    <button class="buttonkit">Add To Cart $67.77</button>
                </div>
                  </form>

            </div>
            
            <div class="flex-item division"></div>

            <div class="flex-item footer">
                <footer>
                    <div>
                    <a><img class="imgfoot" src="/img/fb.png"></a>
                    <a><img class="imgfoot" src="/img/ins.png"></a>
                    <a><img class="imgfoot" src="/img/pin.png"></a>
                    <a><img class="imgfoot" src="/img/twi.png"></a>
                    <a><img class="imgfoot" src="/img/what.png"></a>
                    </div>
                    <p>©2020 Fabulously Inc. All rights reserved.</p><br>
                    <p>Created by www.alexandrevelandia.com</p>
                    <br>
                </footer>
            </div>



    </div>
    
</body>
</html>